<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Express Library</title>
</head>
<body>
	<h1>This is the home page</h1>
	<p>The library contains the following books:</p>
	<p> <% for (var i = 0; i < bookArr.length; i++){ %>
		 <li><%= bookArr[i].title %></li>
		 <ul><%= bookArr[i].author %></ul>
		 <ul><a href="/books/<%= [i+1] %>">This books's page!</a></ul>
		<% } %>
	</p>

	<a href="/new">Create a Book Record</a>

</body>
</html>